<article id="responsivenav">

  <h2>Responsiv navigation</h2>

  <div id="ex-resp-nav-1">

    <ds-nav style="width: 10rem;" data-align="left">
      <a href="#" title="Something" role="button"><svg><use href="../assets/icons.svg#download"/></svg></a>
      <button title="Something else"><svg><use href="../assets/icons.svg#arrow-right"/></svg></button>
      <button title="A life well lived"><svg><use href="../assets/icons.svg#message"/></svg></button>
      <button title="Information"><svg><use href="../assets/icons.svg#copy"/></svg></button>
      <a href="#" title="Handy" role="button"><svg><use href="../assets/icons.svg#calendar"/></svg></a>
      <button title="Søg"><svg><use href="../assets/icons.svg#search"/></svg></button>
    </ds-nav>

    <hr>

    <ds-nav style="width: 15rem;" data-showtitle data-align="left">
      <button title="Information"><svg><use href="../assets/icons.svg#copy"/></svg></button>
      <a href="#" title="Handy" role="button"><svg><use href="../assets/icons.svg#calendar"/></svg></a>
      <button title="Søg"><svg><use href="../assets/icons.svg#search"/></svg></button>
      <a href="#" title="Something" role="button"><svg><use href="../assets/icons.svg#download"/></svg></a>
      <button title="Something else"><svg><use href="../assets/icons.svg#arrow-right"/></svg></button>
      <button title="A life well lived"><svg><use href="../assets/icons.svg#message"/></svg></button>
    </ds-nav>

    <hr>

    <ds-nav style="width: 20rem;" data-align="right">
      <a href="#" role="button" class="quiet"><svg><use href="../assets/icons.svg#download"/></svg>Hjælp</a>
      <a href="#" role="button" class="quiet"><svg><use href="../assets/icons.svg#arrow-left"/></svg>Mere hjælp</a>
      <button class="quiet"><svg><use href="../assets/icons.svg#message"/></svg>Information</button>
      <button class="quiet"><svg><use href="../assets/icons.svg#copy"/></svg>Snedkeri</button>
      <button class="quiet"><svg><use href="../assets/icons.svg#calendar"/></svg>Alt om heste</button>
      <button class="quiet"><svg><use href="../assets/icons.svg#search"/></svg>Søg</button>
    </ds-nav>

    <hr>

    <ds-nav style="width: 100%;" data-align="right">
      <a href="#" role="button"><svg><use href="../assets/icons.svg#download"/></svg>Hjælp</a>
      <a href="#" role="button"><svg><use href="../assets/icons.svg#arrow-left"/></svg>Mere hjælp</a>
      <button><svg><use href="../assets/icons.svg#message"/></svg>Information</button>
      <button><svg><use href="../assets/icons.svg#copy"/></svg>Snedkeri</button>
      <button><svg><use href="../assets/icons.svg#calendar"/></svg>Alt om heste</button>
      <button><svg><use href="../assets/icons.svg#search"/></svg>Søg</button>
    </ds-nav>

  </div>

  <code-view title="Javascript">
import { DSNav } from '@dataforsyningen/designsystem/assets/designsystem.js'
customElements.define('ds-nav', DSNav)
  </code-view>

  <code-view data-snip="ex-resp-nav-1" title="HTML"></code-view>

  <div id="ex-resp-nav-2">
    <ds-nav-responsive>
      <button slot="toggle">Toggle it</button>
      <nav class="ds-nav">
        <a href="#">A link</a>
        <a href="#">Link</a>
        <a href="#">Go here</a>
        <a href="#">A loooooooong link</a>
        <a href="#">A little link</a>
        <a href="#">Another link</a>
        <a href="#">About us</a>
      </nav>
    </ds-nav-responsive>
  </div>

  <code-view title="Javascript">
import { DSNavResponsive } from '@dataforsyningen/designsystem/assets/designsystem.js'
customElements.define('ds-nav-responsive', DSNavResponsive)
  </code-view>
    
  <code-view data-snip="ex-resp-nav-2" title="HTML"></code-view>

</article>