<article id="responsivenav">

  <h2>Responsiv navigation</h2>

  <ds-nav style="width: 10rem;">
    <a href="#" title="Something" role="button"><svg><use href="../assets/designsystem-icons.svg#hentdata-download"/></svg></a>
    <button title="Something else"><svg><use href="../assets/designsystem-icons.svg#arrow-right"/></svg></button>
    <button title="A life well lived"><svg><use href="../assets/designsystem-icons.svg#besked"/></svg></button>
    <button title="Information"><svg><use href="../assets/designsystem-icons.svg#copy"/></svg></button>
    <a href="#" title="Handy" role="button"><svg><use href="../assets/designsystem-icons.svg#calendar"/></svg></a>
    <button title="Søg"><svg><use href="../assets/designsystem-icons.svg#search"/></svg></button>
  </ds-nav>

  <hr>

  <ds-nav style="width: 20rem;">
    <a href="#" role="button" class="quiet"><svg><use href="../assets/designsystem-icons.svg#hentdata-download"/></svg>Hjælp</a>
    <a href="#" role="button" class="quiet"><svg><use href="../assets/designsystem-icons.svg#arrow-left"/></svg>Mere hjælp</a>
    <button class="quiet"><svg><use href="../assets/designsystem-icons.svg#besked"/></svg>Information</button>
    <button class="quiet"><svg><use href="../assets/designsystem-icons.svg#copy"/></svg>Snedkeri</button>
    <button class="quiet"><svg><use href="../assets/designsystem-icons.svg#calendar"/></svg>Alt om heste</button>
    <button class="quiet"><svg><use href="../assets/designsystem-icons.svg#search"/></svg>Søg</button>
  </ds-nav>

  <hr>

  <ds-nav style="width: 100%;">
    <a href="#" role="button"><svg><use href="../assets/designsystem-icons.svg#hentdata-download"/></svg>Hjælp</a>
    <a href="#" role="button"><svg><use href="../assets/designsystem-icons.svg#arrow-left"/></svg>Mere hjælp</a>
    <button><svg><use href="../assets/designsystem-icons.svg#besked"/></svg>Information</button>
    <button><svg><use href="../assets/designsystem-icons.svg#copy"/></svg>Snedkeri</button>
    <button><svg><use href="../assets/designsystem-icons.svg#calendar"/></svg>Alt om heste</button>
    <button><svg><use href="../assets/designsystem-icons.svg#search"/></svg>Søg</button>
  </ds-nav>

</article>