<section id="togglepanel">

  <h2>Skjult panel</h2>

  <div id="ex-togglepanel-1" style="display: flex; flex-flow: row nowrap;">

    <button for="myToggle" class="secondary">Åben panel</button>
    <ds-toggle-panel title="Vis det usete indhold" class="slide" id="myToggle">

      <button 
        class="quiet"
        title="Luk panel"
        style="float: right;"
        onclick="this.parentNode.hidden = true">
        <svg><use href="../assets/designsystem-icons.svg#close" /></svg>
      </button>

      <h2>The thing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      
    </ds-toggle-panel>

    <ds-toggle-panel title="Vis hemmeligt indhold">
      <h2>Her er det hemmelige indhold</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ds-toggle-panel>

    <script type="module">

      import { DSTogglePanel } from '../assets/designsystem.js'

    </script>

  </div>

  <code-view data-snip="ex-togglepanel-1"></code-view>

</section>
