<article id="datatable">

  <h2>Data table</h2>

  <p>Data table er en avanceret tabel, hvor indhold kan filtreres og sorteres.</p>

  <div id="ex-datatable-1">
<ds-data-table></ds-data-table>

<script>
  window.addEventListener('load', () => {

    document.querySelector('ds-data-table').data = {
      headers: [
        'Simple Title',
        {
          value: 'Advanced title',
          sortable: true,
          type: 'string'
        },
        {
          value: 'Another title',
          sortable: true, 
          type: 'number'
        },
        {
          value: 'Just a title',
          type: 'number'
        }
      ],
      body: [
        ['Simple strings and numbers', 'Some text', 345.678, -972],
        [
          'Advanced cell options',
          {
            value: 'Editable text content',
            type: 'string',
            editable: true,
            editCallback: function(event) {
              alert(`This input was edited: ${event.target.value}`)
            }
          },
          {
            value: 1234.5678,
            type: 'number'
          }, 
          {
            
            value: 1234,
            type: 'number',
            editable: true
          }
        ],
        ['Text and text', 'More text', 0, -1],
        ['Simple strings and numbers', 'Text', -345.678, 972],
        ['Some numbers are strings here', '123445', 362, 52],
      ]
    }

  })
</script>
  </div>

  <code-view data-snip="ex-datatable-1"></code-view>

</article>