<article id="datatable">

  <h2>Data table</h2>

  <p>Data table er en avanceret tabel, hvor indhold kan filtreres og sorteres.</p>

  <div id="ex-datatable-1">
<ds-data-table></ds-data-table>

<script>
  window.addEventListener('load', () => {

    document.querySelector('ds-data-table').data = {
      headers: [
        'Titel', 'Anden titel', 'Trejde titel'
      ],
      body: [
        ['Noget tekst', 124522, 87665552],
        ['Anden tekst', 124, 5552],
        [7466, 522, 'Tekst tekst'],
        ['Helt anden tekst', 14522, 876552],
        ['Noget tekst', 124522, 87665552235]
      ]
    }

  })
</script>
  </div>

  <code-view data-snip="ex-datatable-1"></code-view>

</article>