[popover] {
  display: none;
  background-color: var(--bg3);
  color: var(--color);
  padding: var(--space-sm) var(--space);
  border: solid 1px var(--primary);
  border-radius: var(--space-sm);
  box-shadow: 0 var(--space-xs) var(--space) var(--sort);
}

/* For browsers with native popover support*/
[popover]:popover-open {
  display: block;
}

/* For polyfilled browsers (Firefox, Safari, etc.) */
.popover-open[popover] {
  display: block;
  position: fixed;
  z-index: 100000;
  top: 45%;
  left: 45%;
}
