ds-nav {
  --ds-nav-item-size: 2.5rem;
  position: relative;
  display: block;
}

ds-nav .ds-toggle-panel {
  background-color: var(--bg1);
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--space);
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  width: auto;
  height: auto;
}

ds-nav[data-align="right"] {
  left: auto;
  right: 0;
}

ds-nav[data-align="left"] {
  left: 0;
  right: auto;
}

ds-nav .ds-toggle-panel[hidden] {
  display: none;
}
