ds-nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-sm);
}

ds-nav[data-align="right"] {
  justify-content: flex-end;
}

ds-nav > nav {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  flex-flow: row nowrap; 
  justify-content: flex-start;
}

ds-nav[data-align="right"] > nav {
  justify-content: flex-end;
}

ds-nav > nav > * {
  flex: 0 0 auto;
  display: flex !important;
}

ds-nav .ds-toggle-panel {
  background-color: var(--bg1);
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: var(--space-sm);
}

ds-nav .ds-toggle-panel[hidden] {
  display: none;
}

ds-nav[data-align="right"] .ds-toggle-panel {
  left: auto;
  right: 0;
  justify-content: flex-end;
}
