ds-nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-sm);
}

ds-nav[data-align="right"] {
  justify-content: flex-end;
}

ds-nav > nav {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  flex-flow: row nowrap; 
  justify-content: flex-start;
}

ds-nav[data-align="right"] > nav {
  justify-content: flex-end;
}

ds-nav > nav > * {
  flex: 0 0 auto;
  display: flex !important;
}

ds-nav .ds-toggle-panel {
  background-color: var(--bg1);
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: auto;
  min-width: 100%;
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: var(--space-sm);
}

ds-nav ds-toggle-panel button.ds-toggle-button {
  margin: 0;
}

ds-nav .ds-toggle-panel[hidden] {
  display: none;
}

ds-nav[data-align="right"] .ds-toggle-panel {
  left: auto;
  right: 0;
}

ds-nav[data-showtitle] .ds-toggle-panel {
  padding-bottom: 1.5rem;
}

ds-nav[data-showtitle] .ds-toggle-panel > * {
  position: relative;
  margin: 1rem;
  overflow: visible;
}

ds-nav[data-showtitle] .ds-toggle-panel > *::after {
  content: attr(title);
  position: absolute;
  top: 2.5rem;
  color: var(--color);
  text-align: center;
  width: 4rem;
  min-width: 100%;
  font-size: smaller;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
