ds-nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-sm);
}

ds-nav[data-align="right"] {
  justify-content: flex-end;
}

ds-nav > nav {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  flex-flow: row nowrap; 
  justify-content: flex-start;
  margin: 0;
}

ds-nav[data-align="right"] > nav {
  justify-content: flex-end;
}

ds-nav > nav > * {
  flex: 0 0 auto;
  display: flex !important;
}

ds-nav .ds-toggle-panel {
  background-color: var(--bg1);
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: auto;
  min-width: 100%;
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: var(--space-sm);
}

ds-nav ds-toggle-panel button.ds-toggle-button {
  margin: 0;
}

ds-nav .ds-toggle-panel[hidden] {
  display: none;
}

ds-nav[data-align="right"] .ds-toggle-panel {
  left: auto;
  right: 0;
}

ds-nav[data-showtitle] .ds-toggle-panel {
  padding-bottom: 1.5rem;
}

ds-nav[data-showtitle] .ds-toggle-panel > * {
  position: relative;
  margin: 1rem;
  overflow: visible;
}

ds-nav[data-showtitle] .ds-toggle-panel > *::after {
  content: attr(title);
  position: absolute;
  top: 2.5rem;
  color: var(--color);
  text-align: center;
  width: 4rem;
  min-width: 100%;
  font-size: smaller;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* DSNavResponsive */

ds-nav-responsive.switch {
  display: block;
  min-width: calc(var(--button-base-height) + 0.25rem);
  min-height: var(--button-base-height);
  overflow: auto;

  &.compact {
    
    & > .ds-panel {
      position: fixed;
      top: 0;
      right: 0;
      width: 20rem;
      max-width: 80vw;
      height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      z-index: 100;
      background: var(--background-color);
      box-shadow: var(--space-xs) var(--space-xs) var(--space-sm) var(--shadow-2);
      transform: translate(-20rem,0);
      transition: transform 0.3s;
      margin: 0;
    }

    &.expanded > .ds-panel {
      transform: translate(0,0);
    }
  }
}

ds-nav-responsive.fill {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  min-width: calc(var(--button-base-height) + 0.25rem);
  min-height: var(--button-base-height);
  position: relative; 

  &:not(.expanded) > .ds-panel {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-sm);
    overflow: hidden;
    margin: 0;
  }
  
  &.expanded > .ds-panel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    gap: var(--space-sm);
    z-index: 100;
    background: var(--bg1);
    border-radius: var(--border-radius);
    box-shadow: 0 var(--space-xs) var(--space-sm) var(--shadow-2);
    margin: 0;
    padding: var(--space);
    overflow: visible;
  } 
}