:root {
  
  // Main colors
  
  --grey1: hsl(60, 15%, 95%);
  --grey2: hsl(45, 10%, 77%);
  --grey9: hsl(45, 10%, 33%);
  
  --c1: #fff; // Hvid
  --c2: hsl(198, 25%, 98%);
  --c3: hsl(198, 25%, 96%); // 
  --c4: hsl(198, 25%, 91%); // 
  --c5: hsl(198, 25%, 64%); // 
  --c6: hsl(198, 92%, 29%); // Lysere blå
  
  --c7: hsl(198, 92%, 21%); // Primær blå
  
  --c8: hsl(198,92%,12%); // 
  --c9: hsl(198,92%,7%); // 
  --c10: #000; // Sort

  // "Green" colors
  --g1: hsl(171,85%,98%);
  --g2: hsl(171,85%,95%);
  --g3: hsl(171,85%,90%);
  --g4: hsl(171,85%,80%);
  --g5: hsl(171,85%,54%); // Aktion
  --g6: hsl(171,85%,40%);

  // "Red" colors
  --r1: hsl(0,100%,98%);
  --r2: hsl(0,100%,94%);
  --r3: hsl(0,100%,90%);
  --r4: hsl(0,100%,80%);
  --r5: hsl(0,100%,66%); // Advarsel
  --r6: hsl(0,100%,51%);

  // "Orange" colors
  --o1: hsl(26,80%,98%);
  --o2: hsl(26,80%,95%);
  --o3: hsl(26,80%,90%);
  --o4: hsl(26,80%,80%);
  --o5: hsl(26,80%,56%); // Highligt
  --o6: hsl(26,80%,41%);


  // Color shorthands
  --tyrkis: var(--c6);
  --mork-tyrkis: var(--c8);
  --vibrant-steel: hsla(186,40%,82%,0.7);
  --sort: var(--c10);
  --65-sort: hsla(0,0%,0%,0.65);
  --hvid: var(--c1);
  --dark-steel: hsla(186,25%,64%,0.6);
  --medium-steel: var(--c4);
  --lys-steel: var(--c3);
  --aktion: var(--g5);
  --highlight: var(--o5);
  --advarsel: var(--r5);
}
