// Default: Light theme
[data-theme="light"],
:root:not([data-theme="ret"]) {
  // Document
  color-scheme: light;
  accent-color: var(--blaa);
  --background-color: var(--hvid);

  // Borders
  --border-color: var(--grey3);

  // Texts colors
  --color: var(--sort);
  --h1-color: var(--sort);
  --h2-color: var(--sort);
  --h3-color: var(--grey6);
  --h4-color: var(--grey6);
  --h5-color: var(--grey6);
  --h6-color: var(--grey6);

  // Background colors 
  --bg0: var(--grey0);
  --bg1: var(--grey1);
  --bg2: var(--grey2);
  --bg3: var(--grey4);

  // Muted colors
  --muted-color: var(--grey5);
  --muted-border-color: var(--grey5);

  // Link colors
  --link: var(--c5);
  --link-hover: var(--c7);
  --link-focus: var(--highlight);

  // Primary colors
  --primary: var(--blaa);
  --primary-inverse: var(--hvid);
  --primary-hover: var(--c7);
  --primary-focus: var(--highlight);

  // Secondary colors
  --secondary: var(--grey3);
  --secondary-inverse: var(--grey6);
  --secondary-hover: var(--grey3);
  --secondary-focus: var(--highlight);

  // Highlighted text (<mark>)
  --mark-background-color: var(--grey5);
  --mark-color: var(--sort);

  // Inserted (<ins>) & Deleted (<ins>)
  --ins-color: var(--aktion);
  --del-color: var(--advarsel);

  // Blockquote
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);

  // Button
  --button-secondary-hover: var(--c2);
  // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
  // Don't use, 'none, 'false, 'null', '0', etc.
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0.65);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0.65);

  // Form elements
  --form-element-invalid-border-color: var(--r4);
  --form-element-invalid-active-border-color: var(--r5);
  --form-element-invalid-focus-color: var(--r6);
  --form-element-valid-border-color: var(--g4);
  --form-element-valid-active-border-color: var(--g5);
  --form-element-valid-focus-color: var(--g6);

  // Navigation
  --nav-link-color: var(--c7);
  --nav-tab-border: var(--blaa);
  --nav-tab-font-weight: 300;

  // Switch (input[type="checkbox"][role="switch"])
  --switch-background-color: var(--c2);
  --switch-color: var(--c8);
  --switch-checked-background-color: var(--blaa);

  // Range (input[type="range"])
  --range-border-color: var(--color);
  --range-active-border-color: var(--highlight);
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);

  // Table
  --table-border-color: var(--grey3);
  --table-row-stripped-background-color: var(--c2);

  // Code
  --code-background-color: var(--grey1);
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: var(--o4);
  --code-property-color: var(--g4);
  --code-value-color: var(--r4);
  --code-comment-color: var(--grey6);

  // Accordion (<details>)
  --accordion-border-color: var(--muted-border-color);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);

  // Card
  --card-background-color: var(--c1);
  --card-border-color: var(--grey2);
  
  // Dropdown (<details role="list">)
  --dropdown-background-color: var(--c7);
  --dropdown-border-color: var(--hvid);
  --dropdown-box-shadow: var(--card-box-shadow);
  --dropdown-color: var(--color);
  --dropdown-hover-background-color: var(--grey3);

  // Modal (<dialog>)
  --modal-overlay-background-color: var(--grey6);

  // Progress
  --progress-background-color: var(--grey3);
  --progress-color: var(--blaa);

  // Loading ([aria-busy=true])
  --loading-spinner-opacity: 0.5;

  // Tooltip ([data-tooltip])
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);

  // Icons
  --ds-icon-color: var(--c10);

  // Logo
  --ds-logo-theme-color: var(--sort);

}
