// Common Styles


:root {

  // Typography
  // Use 'Roboto' font 
  // (refer to /assets/fonts/font.css for font-face implmentation)
  --font-family: 'Roboto', sans-serif;
  --line-height: 1.35;
  --font-weight: 300;
  --font-size: 100%;
  --font-style: normal;

  // Spacings
  --space: 1rem;
  --space-xxs:  calc(0.125 * var(--space));
  --space-xs:   calc(0.25 * var(--space));
  --space-sm:   calc(0.5 * var(--space));
  --space-md:   calc(1.5 * var(--space));
  --space-lg:   calc(2 * var(--space));
  --space-xl:   calc(3.5 * var(--space));
  --space-xxl:  calc(5 * var(--space));

  // Margins, paddings
  --margin: var(--space-md);
  --padding: var(--space-md) var(--space) var(--space-lg);

  --optical-padding: 0 var(--space-xs);
  --optical-margin: 0 -(var(--space-xs));
  
  --map-element-spacing: var(--space-md) var(--space) var(--space-lg);
  --modal-margin: 3.5vw 5vw;

  // Icons
  --icon-size: calc(var(--space) * 2.5);

  // Responsive typography and spacing  
  @media (min-width: $breakpoint-sm) {
    --margin: var(--space-lg) var(--space-xl);
    --map-element-spacing: var(--space-md) var(--space-lg) var(--space-lg);
  }

  @media (min-width: $breakpoint-lg) {
    --margin: var(--space-xl) var(--space-xxl);
    --map-element-spacing: var(--space-md) var(--space-xl) var(--space-lg);
  }

  // Borders
  --border: solid var(--space-xxs) var(--border-color);
  --border-radius: (--space-xs);
  --border-width: 1px;
  --outline-width: 3px;

  // Transitions
  --transition: 0.2s ease-in-out;
}

// Link
a {
  --text-decoration: none;

  // Secondary & Contrast
  &.secondary,
  &.contrast {
    --text-decoration: underline;
  }

}

// Table
thead,
tfoot {
  th,
  td {
    --border-width: 3px;
  }
}

// Code
pre,
code,
kbd,
samp {
  --font-family: 'Source Code Pro', monospace;
}

kbd {
  --font-weight: bolder;
}
