/*
 * Utilities for accessibility 
 */

// Hide visually, but have it available for screen readers
.ds-sr-only {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  overflow: hidden;
}
