/* 
 * Button group styles 
 * Ex. <div class="ds-button-group"><button>Button1</button><hr><button>Button2</button></div>
 */

.ds-button-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  & > hr {
    height: auto;
    width: 1px;
    margin: 0;
    background-color: transparent;
  }

  & > .quiet + hr {
    background-color: var(--link);
    align-self: center;
    height: var(--space-md);
  }

  & > button,
  & > input,
  & > a,
  & > a[title] {
    border-radius: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;

    &:first-child {
      border-radius: var(--space-lg) 0 0 var(--space-lg);
      width: auto;
    }

    &:last-child {
      border-radius: 0 var(--space-lg) var(--space-lg) 0;
      width: auto;
    }

    &[title]:first-child {
      padding-left: var(--space-sm);
    }

    &[title]:last-child {
      padding-right: var(--space-sm);
    }
  }
}
