/**
 * Condensed form elements
 */

.form-mini {

  --form-font-size: calc(var(--font-size) * 0.875);

  font-size: var(--form-font-size);
  margin: 0;

  label {
    margin: var(--space-xs);
  }

  input,
  select, 
  textarea {
    padding: var(--space-xs) var(--space-sm);
    box-shadow: none;
    border: solid 1px var(--vibrant-steel);
    margin: 0 0 var(--space-sm);
    width: auto;
    font-size: var(--form-font-size);
  }

  select {
    padding-right: var(--space-md);
    background-position: center right var(--space-xs);
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin: 0;
  }

  input[type="checkbox"] ~ label, input[type="radio"] ~ label {
    margin: 0 var(--space) 0 var(--space-xxs);
  }

  input[type="search"] {
    padding-right: var(--space-lg);
    background-size: var(--space-md) auto;
  }

  fieldset {
    margin: var(--space-xs) 0;
  }

}
