/* Icons */

/* SVG icon default styles */

svg:has(use[href*="icon"]) {
  height: auto;
  width: auto;
  display: inline-block;
  aspect-ratio: 1/1;
}

/* Icons in links */

a:has(use[href*="icon"]) {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--space-xs);
  height: auto;
  width: auto;
}

a svg use[href*="icon"] {
  --ds-icon-color: var(--link);
}

a:hover svg use[href*="icon"],
a:active svg use[href*="icon"] {
  --ds-icon-color: var(--background-color);
}