/* Icons */

.ds-icon {
  outline: solid 1px var(--grey3);
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}

/* Icons in links */

a.ds-icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 0;
  outline: none;
}

a.ds-icon > svg {
  --ds-icon-color: var(--blaa);
  height: 2rem;
  width: 2rem;
}
