/* Logos */

.ds-logo {
  container-type: inline-size; 
  background-color: transparent;
  margin: 0;
  height: auto;
  width: 100%;
  position: relative;

  & > ds-logo {
    float: left;
    clear: right;
  }

  & > strong {
    font-weight: 600;
    padding-top: 2.5rem;
  }

  & > strong,
  & > span:last-child {
    display: block;
    margin-left: 6.75rem;
  }
}

ds-logo.black {
  --ds-logo-color: var(--hvid);
  --ds-logo-outline-color: var(--sort);
  --ds-logo-background-color: var(--sort);
}

ds-logo.white {
  --ds-logo-color: var(--sort);
  --ds-logo-outline-color: var(--hvid);
  --ds-logo-background-color: var(--hvid);
}

ds-logo.transparent {
  --ds-logo-color: var(--ds-logo-theme-color);
  --ds-logo-outline-color: var(--ds-logo-theme-color);
  --ds-logo-background-color: transparent;
}

@container (max-width: 15rem) {
  .ds-logo > ds-logo {
    width: 3rem;
  }
  .ds-logo > strong {
    padding-top: 0.5rem;
  }
  .ds-logo > strong,
  .ds-logo > span:last-child {
    margin-left: 3.75rem;
  }
}
