/**
 * Nav
 */

// Basic horizontal Nav
nav,
nav ul {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;

  & > * {
    margin: 0;
  }

  ol,
  ul {
    align-items: center;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;

    a, 
    [role="link"],
    button,
    [role="button"] {
      text-transform: uppercase;
      display: inline-block;
      font-weight: 600;
      padding: var(--space-sm) var(--space);
      margin: 0;
      border-radius: var(--space);
      height: var(--button-base-height);

      &:hover,
      &:active {
        background-color: var(--primary);
        color: var(--primary-inverse);
        text-decoration: none;
      }

      &:focus {
        background-color: var(--link-focus);
        color: var(--primary-inverse);
      }
    }
  }
}

// Vertical Nav
aside,
.ds-nav-vertical {
  nav,
  ol,
  ul,
  li {
    display: block;
  }

  li {
    
    a {
      display: block;
    }
  }
  li + li {
    margin-top: var(--space-sm);
  }
}

// Tool bar nav
nav.ds-nav-tools,
aside.ds-nav-tools {
  
  .ds-button-group {
    border-radius: var(--space-lg);
    border: solid var(--space-xs) var(--card-border-color);
  }

  hr {
    display: block;
    border: none;
    background-color: var(--card-border-color);
    width: 1px;
    height: var(--button-base-height);
    margin: 0;
  }

  &.vertical {

    .ds-button-group {
      flex-flow: column nowrap;

      hr {
        width: var(--button-base-height);
        height: 1px;
      }

      & > button,
      & > input,
      & > a {

        width: auto;

        &:first-child {
          border-radius: var(--space-lg) var(--space-lg) 0 0;  
        }

        &:last-child {
          border-radius: 0 0 var(--space-lg) var(--space-lg);
        }

        &[title]:first-child {
          padding-top: var(--space-xs);
          padding-left: 0;
        }
    
        &[title]:last-child {
          padding-bottom: var(--space-xs);
          padding-right: 0;
        }
      }
    }
  }
}
