/**
 * Form elements
 * Alternatives input types (Not Checkboxes & Radios)
 */

/* Color */
[type="color"] {
  /* Wrapper */

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-moz-focus-inner {
    padding: 0;
  }

  /* Swatch */
  &::-webkit-color-swatch {
    border: 0;
    border-radius: calc(var(--border-radius) * 0.5);
  }

  &::-moz-color-swatch {
    border: 0;
    border-radius: calc(var(--border-radius) * 0.5);
  }
}

[dir="rtl"]
  &:is([type="date"], [type="datetime-local"], [type="month"], [type="time"], [type="week"]) {
  text-align: right;
}

/* Search */
input[type="search"] {

  padding-right: var(--space-lg);
  background-image: var(--form-icon-search);
  background-position: right 0.66rem center;
  background-size: var(--space) auto;
  background-repeat: no-repeat;

  &[aria-invalid="false"] {
    border: inset 1px var(--warning);
  }

  &[aria-invalid="true"] {
    border: inset 1px var(--g5);
  }

}

/* Cancel button */
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

/* Color selector */
input[type="color"] {
  padding: 0;
}
