/**
* Grid
* Minimal grid system with auto-layout columns
*/

.grid,
.ds-grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: minmax(15rem, 1fr);

  @media (min-width: 36rem) {
    grid-template-columns: 1fr 1fr;

    & .ds-grid-item-large {
      grid-column: span 2;
    }
  }

  @media (min-width: 60rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  & > * {
    min-width: 0; // HACK for childs in overflow
  }
}

.ds-flexgrid {
  
  & > * {
    margin: var(--space-md) 0;
    width: 100%;
  }

  @media (min-width: 36rem) {
    display: flex; 
    flex-flow: row wrap; 
    gap: var(--gap);

    & > * {
      flex: 1 0 15rem;
      margin: 0;
    }
  }

  @media (min-width: 48rem) { 
    gap: var(--gap);
  }

}

.ds-grid-2-1,
.ds-grid-1-2 {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr;
}

@media (min-width: 60rem) {

  .ds-grid-2-1 {
    grid-template-columns: 2fr 1fr;
  }

  .ds-grid-1-2 {
    grid-template-columns: 1fr 2fr;
  }

}

.ds-flex-row,
.ds-flex-column {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap);

  & > * {
    margin: 0;
  }
}

.ds-flex-row {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.ds-flex-column {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}