:root {
  
  // Primary "blue" colors
  --c1: hsl(0,0%,100%); // Hvid
  --c2: hsl(198, 100%, 90%);
  --c3: hsl(198, 100%, 75%); // 
  --c4: hsl(198, 100%, 50%); //
  --c5: hsl(198, 100%, 40%); // Hover blå
  --c6: hsl(198, 100%, 30%); // Primær blå
  --c7: #004866; // hsl(198, 100%, 20%)
  --c8: hsl(198, 100%, 16%); // 
  --c9: hsl(197, 100%, 11%); //
  --c10: hsl(0,0%,0%); // Sort

  // "Green" colors
  --g1: hsl(171,85%,98%);
  --g2: hsl(171,85%,95%);
  --g3: hsl(171,85%,90%);
  --g4: hsl(171,85%,80%);
  --g5: hsl(171,85%,54%); // Aktion
  --g6: hsl(171,85%,40%);

  // "Red" colors
  --r1: hsl(0,100%,98%);
  --r2: hsl(0,100%,94%);
  --r3: hsl(0,100%,90%);
  --r4: hsl(0,100%,80%);
  --r5: hsl(0,100%,66%); // Advarsel
  --r6: hsl(0,100%,51%);

  // "Orange" colors
  --o1: hsl(25,100%,98%);
  --o2: hsl(25,100%,95%);
  --o3: hsl(25,100%,90%);
  --o4: hsl(25,100%,80%);
  --o5: hsl(25,100%,60%); // Highligt
  --o6: hsl(25,100%,40%);

  // Grey colors
  --grey0: var(--c1);
  --grey1: hsl(60, 15%, 95%);
  --grey2: #d1cfc7; //hsl(55, 15%, 90%);
  --grey3: hsl(45, 10%, 77%);
  --grey4: hsl(45, 10%, 53%);
  --grey5: hsl(45, 10%, 33%);
  --grey6: hsl(45, 10%, 20%);
  --grey10: var(--c10);


  // Color shorthands
  --blaa: var(--c6); 
  --sort: var(--c10);
  --hvid: var(--c1);
  --aktion: var(--g5);
  --highlight: var(--o5);
  --advarsel: var(--r5);
}
