body {
  display: flex;
  flex-flow: column nowrap;
}
#header ds-logo-title {
  margin: var(--space-xl) 0;
}
#header nav {
  width: auto;
  position: absolute;
  top: var(--space);
  right: var(--space);
}
main {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-xl);
  flex-grow: 1;
}
article,
section {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}
code-view {
  margin: 0 0 var(--space-lg);
  display: block;
}
.colorswatch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--space);
  margin: 0;
}
.colorswatch span:first-child {
  width: var(--space-xl);
  height: var(--space-xl);
  border-radius: 50%;
  display: inline-block;
  flex: 0 0 var(--space-xl);
}
.icon-list li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--space);
  word-wrap: break-word;
}
.icon-list li > span:first-child {
  flex: 0 0 var(--space-xl);
  width: var(--space-xl);
}
.icon-list code {
  overflow: auto;
}
.bordered {
  padding: var(--padding);
  border: solid 1px var(--vibrant-steel);
  border-radius: var(--space-xxs);
}

#toc-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: var(--space);
}
#toc-icons > a {
  width: 2rem;
  height: 2rem;
}
#toc-icons > a > svg {
  width: 100%;
  height: 100%;
}
.icon-details h2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.display-svg {
  width: 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--space-sm);
}
pre {
  max-width: 100%;
  overflow: auto;
}